.wrapper {
    width: 100vw;
    height: 100%;
    padding: 0 40px 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.title {
    background: linear-gradient(#292929, #fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    font-weight: 600;
    padding: 100px 0 15px 0;
}

.skillsItemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 50px;
}

.skillWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


@media (max-width: 1150px) {
    .wrapper {
        padding: 0 40px 100px;
    }


}

@media (max-width: 800px) {
    .title {
        font-size: 50px;
        padding: 60px 0 15px 0;
    }
}
