.wrapper {
    width: 100vw;
    height: 94.4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.title {
    color: rgb(200, 200, 200);
    font-size: 70px;
    font-weight: 600;
    padding: 50px 0 15px 0;
}

.skillsItemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 50px;
}

.skillWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
