.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: black;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    margin: 0 0 9vh 10vw;
}

.name_container{
    display: flex;
    gap: 15px;
}

.name {
    position: relative;
    background: linear-gradient(#292929, #fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 78px;
    font-weight: 600;
}

.surname{
    font-size: 78px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgb(149, 148, 148);
}


.subTitle {
    color: rgb(200, 200, 200);
    font-size: 23px;
    margin-top: -18px;
    padding-left: 4px;
}


.linkWrapper {
    display: flex;
    padding: 10px 0 0 6px;
    gap: 8px;
}

.linkGit svg {
    width: 30px;
    height: 30px;
    fill: rgb(170, 170, 170);
    transition: 0.3s;
}

.linkGit svg:hover {
    fill: white
}

.linkLi svg {
    width: 30px;
    height: 30px;
    fill: rgb(170, 170, 170);
    transition: 0.3s;
}

.linkLi svg:hover {
    fill: #0e76a8;
}