.wrapper {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: black;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.name_container {
    display: flex;
    gap: 15px;
}

.name {
    /* position: relative; */
    background: linear-gradient(#292929, #fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 78px;
    font-weight: 600;
}

.surname {
    font-size: 78px;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgb(149, 148, 148);
}


.subTitle {
    color: rgb(200, 200, 200);
    font-size: 23px;
    margin-top: -18px;
    padding-left: 4px;
}


.linkWrapper {
    display: flex;
    padding: 10px 0 0 6px;
    gap: 8px;
}

.linkGit svg,
.linkLi svg {
    width: 30px;
    height: 30px;
    fill: rgb(170, 170, 170);
    transition: 0.3s;
}

.linkGit svg:hover {
    fill: white
}

.linkLi svg:hover {
    fill: #0e76a8;
}

.photoWrapper{
    flex: 1;
    width: 100%;
    height: 100%;
}

.photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 1150px) {

    .wrapper {
        align-items: center;
        justify-content: center;
    }


    .infoWrapper {
        position: absolute;
        height: 0;
        bottom: 250px;
    }

    .name_container {
        gap: 15px;
    }

    .name {
        font-size: 70px;
    }

    .surname {
        font-size: 70px;
        letter-spacing: 2px;
    }

    .subTitle {
        font-size: 20px;
        margin-top: -15px;
    }

    .linkWrapper {
        display: flex;
        gap: 5px;
    }

    .linkGit svg,
    .linkLi svg {
        width: 40px;
        height: 40px;
    }

    .linkGit svg:hover {
        fill: white
    }

    .linkLi svg:hover {
        fill: #0e76a8;
    }

    .photo {
        margin-left: 30px;
        object-fit: contain;
    }

}

@media (max-width: 600px) {

    .infoWrapper {
        bottom: 160px;
    }

    .name_container {
        gap: 10px;
    }

    .name {
        font-size: 50px;
    }

    .surname {
        font-size: 50px;
        letter-spacing: 1px;
    }

    .subTitle {
        font-size: 15px;
        margin-top: -10px;
    }

    .linkGit svg,
    .linkLi svg  {
        width: 30px;
        height: 30px;
    }

    .linkGit svg:hover {
        fill: white
    }

    .linkLi svg:hover {
        fill: #0e76a8;
    }

    .photo {
        margin-left: 0;
        object-fit: cover;
    }

}